
.dilogsItem{
    background-color: red;

}

.allDialogs{
    background-color: #ff8800;
    height: auto;
    padding: 0.5em;
    display: grid;
    grid-row-gap: 0.3em;
    overflow: auto;
    max-height: 84vh;
}

.textOfLastMessage {
    margin: 0;
    color: black;
}

.namePerson {
    margin: 0;
    font-weight: bold;
    color: black;
}

.photoPerson {
    grid-row: 1/3;
    min-width: 40px;
}
.dialog {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1em;
    padding: 1%;
    border-radius: 0.3em;
    text-decoration: none;
    background-color: #ababab;
}

.dialogActive {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1em;
    padding: 1%;
    text-decoration: none;
    background-color: #626262;
}

.dialog img {
    width: 90%;
    border-radius: 50%;
    height: auto;
}

i {
    color: #3850b2;
    font-weight: bold;
}