.dialog {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1em;
    padding: 1%;
    border-radius: 0.3em;
    text-decoration: none;
    background-color: #ababab;
    min-width: 200px;
}

.dialogActive {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1em;
    padding: 1%;
    text-decoration: none;
    background-color: #626262;
}

.dialog img {
    width: 90%;
    border-radius: 50%;
    height: auto;
}
