.profile{
    background-color: green;
    display: grid;
    grid-area: c;
}

.profileWrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    justify-content: center;
    min-height: 300px;
padding-top:2%;
}

.photoProfile{
    max-height: 100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
}

.photoProfile img{
    border-radius: 1em;
    border: 0.2em solid black;
    max-height: 100%;
}


.aboutProfile{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutProfile h2{
    margin: 0;
}

.aboutProfile hr{
    width: 60%;
    background-color:black;
    border-radius:1em;
    height: 10%;
    border: none;

}
.otherInformations{
    background-color: #341c1c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    min-width: 500px;
    width: 50vw;
    padding: 1%;
    border-radius: 1em;

}

.otherInformation{
    border-radius: 1em;
    background-color: red;
    padding: 5%;
    transition: 0.5s;
cursor: pointer;
}

.otherInformation:hover{
    background-color: #1a1a54;
    transition: 0.5s;
}

.otherInformation p{
    margin: 0;
}