.app-wrapper {
    display: grid;
    grid-template-areas: "h h"
                        "n c";
    grid-template-columns: minmax(200px, 1fr) 6fr;
    grid-template-rows: minmax(50px, 6vh) 100%;
    margin: 1em;
}

.app-wrapper-content{
margin: 1em 0 1em 1em;
}
