.musics_wrapper{
display: grid;
}

.add_musics{
background-color: red;
display: grid;
justify-content: center;
padding: 1em;
}

.add_musics input{
    display: flex;
    justify-content: center;
border: none;
border-radius: 1em;
padding: 1em;
background-color: aqua;
}

.all_musics{
    background-color: green;
}

input{
    background-color: rgb(255, 255, 0);
}